.services{
    .small-card{
        border-radius: 50px 0px 50px 0px;
        padding: 25px 10px;
        box-shadow: 1px 1px 40px #cde9f0;
        margin-bottom: 20px;
        img{
            width: 50%;
        }
        p{
            color: #858585;
        }
    }   
}