.services{
    .small-card{
        border-radius: 50px 0px 50px 0px;
        padding: 25px 10px;
        margin-bottom: 20px;
        transition: 0.4s ease-in-out;
        img{
            width: 50%;
        }
        p{
            color: #858585;
        }
    } 
    .small-card:hover{
        box-shadow: 1px 1px 40px #cde9f0;
        background-color: #fff;
    }
    .service-section{
        background-image: url("../../../image/images/line.png");
        background-position: center center;
        background-size: cover;
    }  
}