.banner-section {
  padding: 100px 0px;
  .small-btn {
    background: linear-gradient(to right, #48e1c2, #0cb8dc);
    border: none;
    border-radius: 20px 0px 20px 0px;
    color: #ffffff;
    padding: 10px 30px;
    transition: 0.4s ;
  }
  .project-description {
    padding-left: 5%;
  }
  .small-btn:hover {
    background: linear-gradient(to right, #0cb8dc, #48e1c2)!important;
    color: rgb(51, 50, 50);
  }
}
